.movie-db-series-tree {
    display: flex;
    flex-direction: column;
    height: 100%;

    > .movie-db-search {
        flex-shrink: 0;
        margin: 10px 0 0 6px;
        width: calc(100% - 6px);
    }

    > .movie-db-tree-level.ui.list {
        flex-grow: 1;
        flex-basis: 0;
        overflow: auto;
        padding-right: 0.5em;
    }
}
