yarn-error.log

node_modules

.vscode/chrome

Server/dist/**/*
!Server/dist/**/index.html

Server/src/**/*.js
Server/src/**/*.js.map

Server/config.custom.json

deploy/config.custom.json
deploy/node_modules
deploy/src/daemon
