/node_modules
/yarn.lock
/yarn-error.log
/.yarn/*
!/.yarn/releases

.vscode/chrome

.scratch

Server/src/**/*.js
Server/src/**/*.js.map

Server/config.custom.json

deploy/config.custom.json
deploy/node_modules
deploy/src/daemon

deploy/dist/assets/*/components