@import '../../mixins';

.movie-db-recording-route {
    overflow: auto;
    height: calc(100% - 1em);
    padding: 0.5em;
    display: flex;
    flex-direction: column;

    > .filter {
        flex-shrink: 0;

        > .search {
            display: flex;
            flex-direction: row;
            align-items: center;

            > .movie-db-search {
                flex-grow: 1;
                flex-basis: 0;
            }

            > .ui.button {
                flex-shrink: 0;
            }
        }
    }

    > .pager {
        align-items: center;
        align-self: flex-start;
        display: flex;
        flex-direction: row;
        flex-shrink: 0;

        > .ui.segment {
            margin: 0 1em 0 0;
        }
    }

    > .page-size {
        align-self: flex-start;
    }

    > .table {
        flex-grow: 1;
        flex-basis: 0;

        > .ui.table {
            > thead > tr > th,
            > tbody > tr > td {
                &.created {
                    @include fix-width(12em);
                }

                &.name {
                    @include fix-width(40em);
                }

                &.languages,
                &.genres {
                    @include fix-width(20em);
                }
            }

            > thead > tr > th {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                &.languages,
                &.genres {
                    cursor: default;
                }
            }
        }
    }
}

@import 'item/item';
