@import '../../mixins';

.movie-db-recording-route {
    display: flex;
    flex-direction: column;
    height: calc(100% - 1em);
    overflow: hidden;
    padding: 0.5em;

    > .filter {
        > .search {
            align-items: center;
            display: flex;
            flex-direction: row;

            > .movie-db-search {
                flex-basis: 0;
                flex-grow: 1;
            }

            > .ui.button {
                flex-shrink: 0;
                margin-left: 0.5em;
            }
        }

        > .ui.dropdown {
            margin-top: 0.5em;
        }
    }

    > .pager,
    > .count,
    > .page-size {
        align-self: flex-start;
    }

    > .count {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        > .ui.segment {
            margin-bottom: 0;
        }
    }

    > .pager {
        align-items: center;
        display: flex;
        flex-direction: row;

        > .ui.menu {
            margin-bottom: 0;
        }

        > .ui.pagination {
            margin-left: 0.5em;
        }
    }

    > .table {
        margin-top: 0.5em;
        overflow: auto;

        > .ui.table {
            > thead > tr > th,
            > tbody > tr > td {
                &.created {
                    @include fix-width(12em);
                }

                &.name {
                    @include fix-width(40em);
                }

                &.languages,
                &.genres {
                    @include fix-width(20em);
                }
            }

            > thead > tr > th {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                &.languages,
                &.genres {
                    cursor: default;
                }
            }
        }
    }
}

@import 'details/details';
@import 'item/item';
@import 'links/links';
