:host {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.page {
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  row-gap: 0.5em;
  width: 100%;
  height: 100%;
  padding: 0 1em 1em;
  overflow: hidden;

  > .ui.segment {
    margin: 0;
  }

  > .headline {
    display: grid;
    grid-template-columns: auto auto 1fr;
    align-items: center;
    column-gap: 0.5em;

    > .ui.icons {
      text-align: left;
    }

    > .ui.segment {
      margin: 0;
    }

    > button {
      justify-self: flex-end;
    }
  }

  > .filter {
    display: grid;
    grid-template-rows: auto;
    grid-auto-flow: row;
    row-gap: 0.5em;

    > .search {
      display: grid;
      grid-template-columns: 1fr auto;
      column-gap: 0.5em;
      align-items: center;
    }

    > .group {
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: 1fr;
      align-items: center;
      column-gap: 1em;
    }

    &.hideFilter {
      display: none;
    }
  }

  > .sizer {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 0.5em;
    align-items: center;
    justify-content: flex-start;
  }

  > .results {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}
