<table
  class="ui celled collapsing fixed sortable striped unstackable compact table"
>
  <thead>
    <tr>
      <th
        (click)="sort('fullName')"
        [ngClass]="{
          sorted: sortName,
          ascending: ascending,
          descending: !ascending,
        }"
        i18n="@@recordings.name"
      >
        Name
      </th>
      <th
        (click)="sort('rating')"
        [ngClass]="{
          sorted: sortRating,
          ascending: ascending,
          descending: !ascending,
        }"
        i18n="@@recordings.rating"
      >
        Bewertung
      </th>
      <th
        (click)="sort('created')"
        [ngClass]="{
          sorted: sortDate,
          ascending: ascending,
          descending: !ascending,
        }"
        i18n="@@recordings.created"
      >
        Erstellt
      </th>
      <th><div i18n="@@recordings.language">Sprachen</div></th>
      <th><div i18n="@@recordings.genres">Kategorien</div></th>
    </tr>
  </thead>
  <tbody>
    @for (recording of items; track recording._id) {
      <tr
        recording
        [item]="recording"
        [routerLink]="['/recordings', recording._id, 'EDIT']"
      ></tr>
    }
  </tbody>
</table>
