.seriesFilter,
.rentFilter,
.languageFilter,
.genreFilter {
  clear: both;
  margin: 5px 0px 5px 20px;
}
.seriesFilter .ui-accordion-header,
.rentFilter .ui-accordion-header,
.languageFilter .ui-accordion-header,
.genreFilter .ui-accordion-header {
  font-weight: bold;
  font-size: small;
}
.seriesFilter .ui-accordion-content,
.rentFilter .ui-accordion-content,
.languageFilter .ui-accordion-content,
.genreFilter .ui-accordion-content {
  margin-left: 10px;
  padding: 2px 5px 5px 5px;
}
.seriesFilter .ui-accordion-content label,
.rentFilter .ui-accordion-content label,
.languageFilter .ui-accordion-content label,
.genreFilter .ui-accordion-content label {
  margin-bottom: 5px;
  margin-right: 10px;
  font-size: small;
  padding: 2px;
  width: 15em;
}
.seriesFilter .ui-accordion-content {
  width: 90%;
  min-height: 5em;
  max-height: 16em;
  overflow-y: scroll;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.seriesFilter .ui-accordion-content div.treeItem {
  padding: 1px;
}
.treeNodeHeader div.ui-icon {
  margin-left: -5px;
  margin-top: 1px;
  float: left;
}
.treeNode {
  font-size: small;
  margin-left: 1em;
}
.treeItem {
  font-size: small;
}
.treeItem:hover {
  background-color: lightblue;
}
.treeItem.nodeSelected {
  background-color: dodgerblue;
}
.textfilter span:first-child {
  font-weight: bold;
}
.textfilter .ui-button-text {
  font-size: small;
}
.textfilter .queryToEditButtons {
  margin-bottom: 5px;
  float: right;
}
.editNavigation {
  margin-top: 10px;
}
.editNavigation .editButton .ui-button-text {
  font-size: medium;
}
.editForm table {
  border-collapse: collapse;
}
.editForm table td {
  padding-left: 0px;
}
.editForm table tr {
  min-height: 1em;
}
.editForm table table td:first-child {
  vertical-align: middle;
}
.editForm fieldset {
  padding: 10px;
}
.editLabel {
  min-width: 10em;
}
.titleEdit .ui-button-text,
.descriptionEdit .ui-button-text,
.seriesEdit .ui-button-text,
.containerEdit .ui-button-text,
.linkEdit .ui-button-text,
.mediaEdit .ui-button-text,
.rentEdit .ui-button-text {
  font-size: small;
}
.genreEdit .ui-button:not(.openEditDialog),
.languageEdit .ui-button:not(.openEditDialog) {
  margin: 2px 4px 2px 0px;
  min-width: 10em;
}
.genreEdit .ui-button-text,
.languageEdit .ui-button-text {
  font-size: small;
}
.genreEdit .ui-state-active,
.languageEdit .ui-state-active {
  font-weight: bold;
}
.editSelector {
  vertical-align: top;
  width: 100%;
}
.editSelectorEdit {
  vertical-align: top;
}
.containerParentEdit input[type=text] {
  margin-left: 10px;
}
#recordingEditLocation {
  margin-left: 5px;
}
.validationError {
  border: 2px solid red;
}
body {
  background-color: #f8f8f8;
}
.ui-accordion-header {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.invisible {
  display: none;
}
.placeholder {
  visibility: hidden;
}
#headline {
  margin-bottom: -0.7em;
}
#countInfo {
  margin-left: 1em;
  margin-top: -1em;
}
#busyIndicator {
  float: right;
}
#queryMode {
  padding: 5px;
}
.pageButtons {
  padding-top: 5px;
}
.pageButtons a {
  width: 3em;
}
.pageButtonSelected {
  font-weight: bold;
}
.sortIndicator {
  float: left;
  margin-left: -0.1em;
}
.dialog {
  background-color: whitesmoke !important;
}
.dialogButtons {
  margin-top: 40px;
}
.dialogButtons a:last-of-type {
  float: right;
}
#gotoQuery {
  float: right;
}
.ui-dialog-titlebar-close {
  visibility: hidden;
}
.deleteConfirm {
  border: 2px solid red;
  color: red !important;
}
.pageSize {
  padding: 5px 0px;
}
.pageSize .ui-button-text {
  font-size: small;
}
.containerChildren .ui-accordion-header,
.containerRecordings .ui-accordion-header {
  font-size: small;
}
.containerChildren .ui-accordion-content,
.containerRecordings .ui-accordion-content {
  margin-left: 10px;
  padding: 0px;
  font-size: small;
}
.containerChildren thead,
.containerRecordings thead {
  font-weight: bold;
}
.containerChildren td,
.containerRecordings td {
  padding-right: 10px;
}
.recordingTable table {
  padding: 5px;
  width: 100%;
}
.recordingTable td {
  padding: 2px 6px 0px 4px;
  min-height: 16px;
}
.recordingTable thead {
  font-weight: bold;
  background-color: #c0c0c0;
}
.recordingTable thead .nameColumn {
  width: 50%;
}
.recordingTable thead .dateColumn {
  width: 9em;
}
.recordingTable tbody td {
  vertical-align: top;
}
.recordingTable tbody tr:nth-child(even) {
  background: #c0c0c0;
}
.recordingTable tbody tr:nth-child(odd) {
  background: #e0e0e0;
}
.recordingTable tbody a {
  text-decoration: none;
  color: black;
}
.recordingTable tbody a:hover {
  text-decoration: underline;
}
.rentIcon {
  margin-left: -5px;
  margin-top: 1px;
  float: right;
}
/*# sourceMappingURL=appStyles.css.map */