<div *ngIf="edit">
    <div class="actions">
        <div class="ui button" [ngClass]="{ disabled: !edit.isDirty }" (click)="reload()">Verwerfen</div>
        <div
            class="ui primary button"
            [ngClass]="{ disabled: !edit.isDirty || edit.validationErrors }"
            (click)="onSave()"
        >
            Speichern
        </div>
        <div *ngIf="editId" class="ui negative button" (click)="onRemove()">Löschen</div>
    </div>
    <div class="ui form" [ngClass]="{ errors: edit.validationErrors }">
        <div class="field" [ngClass]="{ error: edit.validationErrors?.['parentId'] }">
            <label>Übergeordnete Ablage</label>
            <semantic-single-select
                [items]="parentAsItems"
                [(selected)]="parentId"
                hint="(keine)"
            ></semantic-single-select>
        </div>
        <app-validation-errors [list]="edit.validationErrors?.['parentId']"></app-validation-errors>
        <div class="required field" [ngClass]="{ error: edit.validationErrors?.['name'] }">
            <label>Name</label>
            <div class="ui input">
                <input type="text" [(ngModel)]="name" />
            </div>
        </div>
        <app-validation-errors [list]="edit.validationErrors?.['name']"></app-validation-errors>
        <div class="required field" [ngClass]="{ error: edit.validationErrors?.['type'] }">
            <label>Art der Ablage</label>
            <app-component-type [(selected)]="type"></app-component-type>
        </div>
        <app-validation-errors [list]="edit.validationErrors?.['type']"></app-validation-errors>
        <div class="field" [ngClass]="{ error: edit.validationErrors?.['description'] }">
            <label>Beschreibung</label>
            <div class="ui input">
                <textarea [(ngModel)]="description" rows="5"></textarea>
            </div>
        </div>
        <app-validation-errors [list]="edit.validationErrors?.['description']"></app-validation-errors>
        <div class="field" [ngClass]="{ error: edit.validationErrors?.['parentLocation'] }">
            <label>Position in der übergeordneten Ablage</label>
            <div class="ui input">
                <input type="text" [(ngModel)]="parentLocation" />
            </div>
        </div>
        <app-validation-errors [list]="edit.validationErrors?.['parentLocation']"></app-validation-errors>
    </div>
    <table
        *ngIf="contents.length > 0"
        class="ui celled collapsing fixed sortable striped unstackable compact table contents"
    >
        <thead>
            <tr>
                <th>Aufzeichnung</th>
                <th>Position</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let content of contents" [routerLink]="['/recordings', content._id]">
                <td>{{ content.fullName }}</td>
                <td style="text-align: center">{{ content.containerPosition }}</td>
            </tr>
        </tbody>
    </table>
    <app-semantic-modal [show]="confirm" (closed)="confirm = false" (confirm)="onConfirm()">
        Das Löschen einer Ablage kann <strong>nicht</strong> rückgängig gemacht werden. Soll die Ablage wirklich
        endgültig entfernt werden?
    </app-semantic-modal>
</div>
