:host {
    overflow: hidden;
}

.item {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    overflow: hidden;

    > .content {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
