<div class="ui selection dropdown" #selector style="visibility: hidden">
    <i class="dropdown icon"></i>
    <div class="default text"></div>
    <div class="menu">
        <div class="item" data-value="0">
            <app-container-icon [type]="0"></app-container-icon><span i18n="@@container.type.unknown">(unbekannt)</span>
        </div>
        <div class="item" data-value="1">
            <app-container-icon [type]="1"></app-container-icon
            ><span i18n="@@container.type.small">Kleine DVD Box</span>
        </div>
        <div class="item" data-value="2">
            <app-container-icon [type]="2"></app-container-icon><span i18n="@@container.type.large">Große DVD Box</span>
        </div>
        <div class="item" data-value="3">
            <app-container-icon [type]="3"></app-container-icon><span i18n="@@container.type.shelf">Regal(fach)</span>
        </div>
        <div class="item" data-value="5">
            <app-container-icon [type]="5"></app-container-icon
            ><span i18n="@@container.type.folder">Dateiverzeichnis</span>
        </div>
        <div class="item" data-value="4">
            <app-container-icon [type]="4"></app-container-icon
            ><span i18n="@@container.type.disk">(Externe) Festplatte</span>
        </div>
    </div>
</div>
