<div class="ui selection dropdown" #selector style="visibility: hidden">
    <i class="dropdown icon"></i>
    <div class="default text"></div>
    <div class="menu">
        <div class="item" data-value="0"><app-container-icon [type]="0"></app-container-icon>(unbekannt)</div>
        <div class="item" data-value="1"><app-container-icon [type]="1"></app-container-icon>Kleine DVD Box</div>
        <div class="item" data-value="2"><app-container-icon [type]="2"></app-container-icon>Große DVD Box</div>
        <div class="item" data-value="3"><app-container-icon [type]="3"></app-container-icon>Regal(fach)</div>
        <div class="item" data-value="5"><app-container-icon [type]="5"></app-container-icon>Dateiverzeichnis</div>
        <div class="item" data-value="4"><app-container-icon [type]="4"></app-container-icon>(Externe) Festplatte</div>
    </div>
</div>
