.movie-db-genre-route {
    > .master > .ui.list > .item {
        color: var(--semantic-text-color);

        &.active {
            font-weight: bold;
        }

        > .ui.label {
            width: 100%;
        }
    }
}

@import 'details/details';
