<div class="page">
    <div class="filter">
        <div class="search">
            <app-text-filter></app-text-filter>
            <div class="ui negative button" (click)="clear()">Clear Filter</div>
        </div>
        <app-language-filter></app-language-filter>
        <app-genre-filter></app-genre-filter>
        <app-series-filter></app-series-filter>
    </div>
    <div>{{ recordings.view.length }}/{{ recordings.count }}/{{ recordings.total }}</div>
    <div>
        <div class="ui primary icon button" (click)="onPrev()">
            <i class="icon arrow left"></i>
        </div>
        {{ pageSize }}
        <div class="ui primary icon button" (click)="onNext()">
            <i class="icon arrow right"></i>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>
