.root {
  display: grid;
  grid-template-rows: auto auto 1fr;
  width: 100%;
  height: 100%;
  overflow: auto;

  > .menu > .item {
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
  }
}
