.movie-db-confirm-delete {
    > .content > .actions {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 1em;

        > .ui.button {
            margin: 0;
        }
    }
}
