.movie-db-language-route {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    padding: 0 0.5em 0.5em 0.5em;

    > .movie-db-language-list {
        background: white;
        flex-shrink: 0;
        min-width: 10vw;
        overflow: auto;
        padding-right: 0.5em;
    }

    > .movie-db-language-details {
        flex-grow: 1;
        flex-basis: 0;
    }
}
