.movie-db-container-tree {
    background: white;
    min-width: 10vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding-right: 0.5em;

    > .ui.input {
        flex-shrink: 0;
        margin: 10px 0 0 6px;
        width: calc(100% - 6px);
    }

    > .movie-db-container-tree-level {
        flex-grow: 1;
        flex-basis: 0;
        overflow: auto;
        padding-right: 0.5em;
    }
}

@import './level';
