.movie-db-container-route {
    display: flex;
    flex-direction: row;

    > .movie-db-container-tree {
        flex-shrink: 0;
    }

    > .movie-db-container-details {
        flex-grow: 1;
        flex-basis: 0;
    }
}

@import 'details/details';
@import 'tree/tree';
