.movie-db-container-links {
    > label > .icon {
        margin-left: 0.3em;
    }

    > .link-edit {
        margin-left: 2em;
    }

    &.link-errors > label {
        color: var(--semantic-error-color) !important;
    }
}
