<div *ngIf="edit" class="field" [ngClass]="{ error: edit.validationErrors?.['containerId'] }">
    <label>Ablage</label>
    <semantic-single-select [items]="ordered" [(selected)]="container" hint=""></semantic-single-select>
</div>
<app-validation-errors *ngIf="edit" [list]="edit.validationErrors?.['containerId']"></app-validation-errors>
<div *ngIf="edit" class="field" [ngClass]="{ error: edit.validationErrors?.['containerPosition'] }">
    <label>Standort</label>
    <div class="ui input">
        <input type="text" [(ngModel)]="position" />
    </div>
</div>
<app-validation-errors *ngIf="edit" [list]="edit.validationErrors?.['containerPosition']"></app-validation-errors>
