<div *ngIf="edit" class="required field" [ngClass]="{ error: edit.validationErrors?.['containerType'] }">
    <label i18n="@@recording.type">Art der Ablage</label>
    <div class="ui selection fluid dropdown" #selector style="visibility: hidden">
        <i class="dropdown icon"></i>
        <div class="default text"></div>
        <div class="menu">
            <div class="item" data-value="0" i18n="@@recording.unknown">(unbekannt)</div>
            <div class="item" data-value="1" i18n="@@recording.vcd">Video CD</div>
            <div class="item" data-value="2" i18n="@@recording.svcd">Super-Video CD</div>
            <div class="item" data-value="3" i18n="@@recording.burnedDvd">Selbstaufgenommene DVD</div>
            <div class="item" data-value="4" i18n="@@recording.dvd">Gekaufte DVD</div>
            <div class="item" data-value="5" i18n="@@recording.blueray">Blu-Ray</div>
        </div>
    </div>
</div>
<app-validation-errors *ngIf="edit" [list]="edit.validationErrors?.['containerType']"></app-validation-errors>
