.movie-db-recording-item {
    > td {
        overflow: hidden;
        padding: 0.3em 0.2em !important;
        text-overflow: ellipsis;
        white-space: nowrap;

        > span.separator:last-child {
            display: none;
        }

        &.name {
            align-self: center;
            cursor: pointer;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            > div {
                flex-basis: 0;
                flex-grow: 1;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            > .ui.icon {
                flex-shrink: 0;
            }
        }
    }
}
